openutils-mgnllms/src/xsd/imsss_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "http://www.imsglobal.org/xsd/imsss"
	 targetNamespace = "http://www.imsglobal.org/xsd/imsss"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified"
	 xmlns:adlseq = "http://www.adlnet.org/xsd/adlseq_v1p3"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version = "2.0">
	<xs:import namespace = "http://www.adlnet.org/xsd/adlseq_v1p3" schemaLocation = "adlseq_v1p3.xsd"/>
		<xs:annotation>
   <xs:appinfo>
   <jaxb:schemaBindings>
  	<jaxb:package name="net.sourceforge.openutils.mgnllms.scorm.model.imsss"></jaxb:package>
   </jaxb:schemaBindings>
   </xs:appinfo>
		</xs:annotation>
	<xs:include schemaLocation = "imsss_v1p0seqrule.xsd"/>
	<xs:include schemaLocation = "imsss_v1p0objective.xsd"/>
	<xs:include schemaLocation = "imsss_v1p0delivery.xsd"/>
	<xs:include schemaLocation = "imsss_v1p0random.xsd"/>
	<xs:include schemaLocation = "imsss_v1p0rollup.xsd"/>
	<xs:include schemaLocation = "imsss_v1p0control.xsd"/>
	<xs:include schemaLocation = "imsss_v1p0limit.xsd"/>
	<xs:include schemaLocation = "imsss_v1p0auxresource.xsd"/>
	<xs:element name = "sequencing" type = "sequencing"
		 >
		<xs:annotation>
			<xs:documentation>The root element for all sequencing tags.  This tag will usually appear as a child element to an IMS CP item tag.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name = "sequencing">
		<xs:annotation>
			<xs:documentation>The type associated with any top-level sequencing tag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name = "controlMode" type = "controlMode"
				 minOccurs = "0">
				<xs:annotation>
					<xs:documentation>non-exclusive definition of acceptable control-modes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name = "sequencingRules" type = "sequencingRules"
				 minOccurs = "0"/>
			<xs:element name = "limitConditions" type = "limitConditions"
				 minOccurs = "0"/>
			<xs:element name = "auxiliaryResources" type = "auxiliaryResources"
				 minOccurs = "0">
				<xs:annotation>
					<xs:appinfo>
					  	<jaxb:property optionalProperty="wrapper"/>
					</xs:appinfo>
			      	</xs:annotation> 
			</xs:element>
			<xs:element name = "rollupRules" type = "rollupRules"
				 minOccurs = "0"/>
			<xs:element name = "objectives" type = "objectives"
				 minOccurs = "0">
<!--
				<xs:unique name = "uniqueGlobalObjective">
					<xs:selector xpath = ".//imsss:mapInfo[@writeSatisfiedStatus = 'true' or @writeNormalizedMeasure = 'true']"/>
					<xs:field xpath = "@targetObjectiveID"/>
				</xs:unique>
-->
			</xs:element>
			<xs:element name = "randomizationControls" type = "randomization"
				 minOccurs = "0"/>
			<xs:element name = "deliveryControls" type = "deliveryControls"
				 minOccurs = "0"/>
			<!--<xs:any namespace = "##other" processContents = "strict" minOccurs = "0" maxOccurs = "unbounded"/>-->
			<xs:element ref = "adlseq:constrainedChoiceConsiderations" minOccurs = "0" />
			<xs:element ref = "adlseq:rollupConsiderations" minOccurs = "0" />		
			<xs:element ref = "adlseq:objectives" minOccurs = "0">
				<xs:annotation>
					<xs:appinfo>
					  	<jaxb:property name="adlseqObjectives"/>
					</xs:appinfo>
			      	</xs:annotation> 
			</xs:element>
		</xs:sequence>
		<xs:attribute name = "ID" type = "xs:ID"/>
		<xs:attribute name = "IDRef" type = "xs:IDREF"/>
	</xs:complexType>
	<xs:element name = "sequencingCollection"
		 block = "#all">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref = "sequencing" maxOccurs = "unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
