openutils-mgnllms/src/xsd/imsss_v1p0seqrule.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "http://www.imsglobal.org/xsd/imsss"
	 targetNamespace = "http://www.imsglobal.org/xsd/imsss"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xs:include schemaLocation = "imsss_v1p0util.xsd"/>
						<xs:complexType name="RuleActionExitCondition">
							<xs:attribute name = "action" use = "required" type = "exitConditionRuleAction"/>
						</xs:complexType>
	<xs:complexType name = "exitConditionRule">
		<xs:complexContent>
			<xs:extension base = "sequencingRule">
				<xs:sequence>
					<xs:element name = "ruleAction"
						 block = "#all" type="RuleActionExitCondition">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
						<xs:complexType name="RuleActionPostCondition">
							<xs:attribute name = "action" use = "required" type = "postConditionRuleAction"/>
						</xs:complexType>
	<xs:complexType name = "postConditionRule">
		<xs:annotation>
			<xs:documentation>postConditionSequencingRuleType is derived by extension from sequencingRuleType.  It adds an element ruleAction that is a simpleType constrained to a vocabulary relevant to post-Condition sequencing rules</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base = "sequencingRule">
				<xs:sequence>
					<xs:element name = "ruleAction"
						 block = "#all" type="RuleActionPostCondition">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
						<xs:complexType name="RuleActionPreCondition">
							<xs:attribute name = "action" use = "required" type = "preConditionRuleAction"/>
						</xs:complexType>
	<xs:complexType name = "preConditionRule">
		<xs:complexContent>
			<xs:extension base = "sequencingRule">
				<xs:sequence>
					<xs:element name = "ruleAction"
						 block = "#all" type="RuleActionPreCondition">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name = "sequencingRule" abstract = "true">
		<xs:sequence>
			<xs:element name = "ruleConditions"
				 block = "#all" minOccurs = "0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name = "ruleCondition"
							 block = "#all" maxOccurs = "unbounded">
							<xs:complexType>
								<xs:attribute name = "referencedObjective" type = "xs:anyURI"/>
								<xs:attribute name = "measureThreshold" type = "measure"/>
								<xs:attribute name = "operator" default = "noOp" type = "conditionOperator"/>
								<xs:attribute name = "condition" use = "required" type = "sequencingRuleCondition"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name = "conditionCombination" default = "all" type = "conditionCombination"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "sequencingRules">
		<xs:sequence>
			<xs:element name = "preConditionRule" type = "preConditionRule"
				 block = "#all" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:element name = "exitConditionRule" type = "exitConditionRule"
				 block = "#all" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:element name = "postConditionRule" type = "postConditionRule"
				 block = "#all" minOccurs = "0" maxOccurs = "unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name = "exitConditionRuleAction">
		<xs:restriction base = "xs:token">
			<xs:enumeration value = "exit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "postConditionRuleAction">
		<xs:restriction base = "xs:token">
			<xs:enumeration value = "exitParent"/>
			<xs:enumeration value = "exitAll"/>
			<xs:enumeration value = "retry"/>
			<xs:enumeration value = "retryAll"/>
			<xs:enumeration value = "continue"/>
			<xs:enumeration value = "previous"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "preConditionRuleAction">
		<xs:restriction base = "xs:token">
			<xs:enumeration value = "skip"/>
			<xs:enumeration value = "disabled"/>
			<xs:enumeration value = "hiddenFromChoice"/>
			<xs:enumeration value = "stopForwardTraversal"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
